#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  --font-highlight-color: #8f0202;
  --main-color: #b80f0f;
  --light-main: #ffefef;
  --background-color: #f3f4f6;
  --box-background: #faf6f6;
  --muted-font-color: #475569;
  --font-color: #282828;
}


body {
  background-color: var(--background-color) !important;
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

